* {
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#main {
    padding: 50px 0px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

